nav {
    display: flex;
   width: 100%;
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    
   
    width: 100%;
  }

  nav ul li { 
    margin: 0;
    padding: 0;
    list-style: none;
    flex: 1;
    
  }
  nav ul li a{
    text-decoration: none;
    color: rgb(42, 109, 87);
  }